{% extends 'homepage.html' %}
{% load static %}
{% block content %}
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>Связаться с нами</h1>
			
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Contact Page Section -->

			<!-- Contact Info Section -->
			<div class="contact-info-section">
				<div class="title-box">
					<h2>Контактные данные</h2>
				</div>
				
				<div class="row clearfix">
					
					<!-- Info Column -->
					<div class="info-column col-lg-4 col-md-6 col-sm-12">
						<div class="info-inner">
							<div class="icon fa fa-phone"></div>
							<strong>Контакты</strong>
							<ul>
								<li><a href="tel:+996 777 666 555">+996 507 05 2018</a></li>
								<li><a href="tel:+996 111 222 333">+996 777 05 2018</a></li>
								<li><a href="tel:+996 444 555 678">+996 557 05 2018</a></li>
							</ul>
						</div>
					</div>
					
					<!-- Info Column -->
					<div class="info-column col-lg-4 col-md-6 col-sm-12">
						<div class="info-inner">
							<div class="icon fa fa-map-marker"></div>
							<strong>Адреса</strong>
							<ul>
								<li>г. Бишкек, ул. Ибраимова, 103, Бизнес-центр Victory, правое крыло, 4-этаж <br>г. Бишкек, 9 мкр. ЖК “Тумар”, Суеркулова, 10Б, цокольный этаж<br>г. Кара-Балта, ул. Кожомбердиева 112<br>г. Ош, ул. Мырзалы Аматова, 1Б стр, БЦ “Томирис”</li>
							</ul>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Contact Page Section -->
	
	<!-- Map Section -->
	<section class="map-section">
		<!-- Map Boxed -->
		<div class="map-boxed">
			<!--Map Outer-->
			<div class="map-outer">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae4249d1ad9789e77340e705dc9e7c984e73c588560c428e7db46c58939ab4bfa&amp;source=constructor" width="1280" height="720" frameborder="0"></iframe>
			</div>
		</div>
	</section>
	<!-- End Map Section -->
	

{% endblock %}